<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.PositionMapper" >
  <resultMap id="BaseResultMap" type="com.entity.Position" >
    <id column="portfolio_name" property="portfolioName" jdbcType="VARCHAR" />
    <id column="security_name" property="securityName" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="open" property="open" jdbcType="DOUBLE" />
    <result column="high" property="high" jdbcType="DOUBLE" />
    <result column="low" property="low" jdbcType="DOUBLE" />
    <result column="close" property="close" jdbcType="DOUBLE" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    portfolio_name, security_name, date, open, high, low, close, type
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.entity.PositionKey" >
    select 
    <include refid="Base_Column_List" />
    from position
    where portfolio_name = #{portfolioName,jdbcType=VARCHAR}
      and security_name = #{securityName,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="com.entity.PositionKey" >
    delete from position
    where portfolio_name = #{portfolioName,jdbcType=VARCHAR}
      and security_name = #{securityName,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.entity.Position" >
    insert into position (portfolio_name, security_name, date, 
      open, high, low, close, 
      type)
    values (#{portfolioName,jdbcType=VARCHAR}, #{securityName,jdbcType=VARCHAR}, #{date,jdbcType=DATE}, 
      #{open,jdbcType=DOUBLE}, #{high,jdbcType=DOUBLE}, #{low,jdbcType=DOUBLE}, #{close,jdbcType=DOUBLE}, 
      #{type,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.entity.Position" >
    insert into position
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="portfolioName != null" >
        portfolio_name,
      </if>
      <if test="securityName != null" >
        security_name,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="open != null" >
        open,
      </if>
      <if test="high != null" >
        high,
      </if>
      <if test="low != null" >
        low,
      </if>
      <if test="close != null" >
        close,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="portfolioName != null" >
        #{portfolioName,jdbcType=VARCHAR},
      </if>
      <if test="securityName != null" >
        #{securityName,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=DATE},
      </if>
      <if test="open != null" >
        #{open,jdbcType=DOUBLE},
      </if>
      <if test="high != null" >
        #{high,jdbcType=DOUBLE},
      </if>
      <if test="low != null" >
        #{low,jdbcType=DOUBLE},
      </if>
      <if test="close != null" >
        #{close,jdbcType=DOUBLE},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Position" >
    update position
    <set >
      <if test="date != null" >
        date = #{date,jdbcType=DATE},
      </if>
      <if test="open != null" >
        open = #{open,jdbcType=DOUBLE},
      </if>
      <if test="high != null" >
        high = #{high,jdbcType=DOUBLE},
      </if>
      <if test="low != null" >
        low = #{low,jdbcType=DOUBLE},
      </if>
      <if test="close != null" >
        close = #{close,jdbcType=DOUBLE},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where portfolio_name = #{portfolioName,jdbcType=VARCHAR}
      and security_name = #{securityName,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.entity.Position" >
    update position
    set date = #{date,jdbcType=DATE},
      open = #{open,jdbcType=DOUBLE},
      high = #{high,jdbcType=DOUBLE},
      low = #{low,jdbcType=DOUBLE},
      close = #{close,jdbcType=DOUBLE},
      type = #{type,jdbcType=VARCHAR}
    where portfolio_name = #{portfolioName,jdbcType=VARCHAR}
      and security_name = #{securityName,jdbcType=VARCHAR}
  </update>

  <select id="selectPositionByPortfolio" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from position
    where portfolio_name = #{portfolioName,jdbcType=VARCHAR}
  </select>

</mapper>